body {
  font-family: 'Verdana', sans-serif;
  background: linear-gradient(to right, #f7f9fb, #e9f0f7);
}
.container {
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(14px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  border: 1px solid rgba(255,255,255,0.4);
}

#Insert1 {
  box-shadow: 0 0 1rem rgba(13, 110, 253, 0.4);
  transition: scale 0.4s, opacity 0.4s, translate 0.4s, overlay 0.4s allow-discrete, display 0.4s allow-discrete;
  scale: 0;
  opacity: 0;

  &:popover-open {
    scale: 1;
    opacity: 1;
  }

  @starting-style {
    &:popover-open {
      scale: 0;
      opacity: 0;

    }
  }

}

#Insert1::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  filter: blur(3px);
  backdrop-filter: blur(3px);
}

#Edit1 {
  box-shadow: 0 0 1rem rgba(13, 110, 253, 0.4);
  transition: scale 0.4s, opacity 0.4s, translate 0.4s, overlay 0.4s allow-discrete, display 0.4s allow-discrete;
  scale: 0;
  opacity: 0;

  &:popover-open {
    scale: 1;
    opacity: 1;
  }

  @starting-style {
    &:popover-open {
      scale: 0;
      opacity: 0;

    }
  }
}

#Edit1::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  filter: blur(3px);
  backdrop-filter: blur(3px);
}

[id^="Elim"] {
  box-shadow: 0 0 1rem rgba(13, 110, 253, 0.4);
  transition: scale 0.4s, opacity 0.4s, translate 0.4s, overlay 0.4s allow-discrete, display 0.4s allow-discrete;
  scale: 0;
  opacity: 0;

  &:popover-open {
    scale: 1;
    opacity: 1;
  }

  @starting-style {
    &:popover-open {
      scale: 0;
      opacity: 0;

    }
  }

}

[id^="Elim"]::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  filter: blur(3px);
  backdrop-filter: blur(3px);
}

#alerta {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 450px;
  padding: 20px;
  z-index: 1050;
}